/* styles.css */

.vote-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.vote-count {
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.vote-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.vote-button i {
    color: #4a90e2; /* Change the color as needed */
}
