<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>Needlepoint Hub</title>
    <!-- Add any other head elements here, like CSS links -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('canvases') }}">Canvases</a></li>
                <li><a href="{{ url_for('artists') }}">Artists</a></li>
                <!-- Add more links as needed -->
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Add footer content here -->
    </footer>
</body>
</html>
