{% extends 'base.html' %}

{% block content %}
<h1>{{ canvas.title }}</h1>
<p>{{ canvas.description }}</p>
<img src="{{ canvas.image_url }}" alt="{{ canvas.title }}" class="canvas-thumbnail">

<div class="vote-section">
    <!-- Display canvas vote total -->
    <span class="vote-count">{{ canvas_vote_total }}</span>

    <!-- Canvas Voting Section -->
    <form action="{{ url_for('vote_canvas', canvas_id=canvas.id, vote='up') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <button type="submit" class="vote-button {{ 'voted-up' if user_canvas_vote and user_canvas_vote.vote == 1 else '' }}"><i class="fa-solid fa-arrow-up"></i></button>
    </form>
    <form action="{{ url_for('vote_canvas', canvas_id=canvas.id, vote='down') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <button type="submit" class="vote-button {{ 'voted-down' if user_canvas_vote and user_canvas_vote.vote == -1 else '' }}"><i class="fa-solid fa-arrow-down"></i></button>
    </form>
</div>

<h2>Comments</h2>
{% for comment in canvas.comments %}
    <p>{{ comment.user.username }} says: {{ comment.content }}</p>
    
    <div class="vote-section">
        <!-- Display comment vote total -->
        <span class="vote-count">{{ comment_vote_totals[comment.id] }}</span>

        <!-- Comment Voting Section -->
        <form action="{{ url_for('vote_comment', comment_id=comment.id, vote='up') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <button type="submit" class="vote-button {{ 'voted-up' if user_comment_votes[comment.id] and user_comment_votes[comment.id].vote == 1 else '' }}"><i class="fa-solid fa-arrow-up"></i></button>
        </form>
        <form action="{{ url_for('vote_comment', comment_id=comment.id, vote='down') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <button type="submit" class="vote-button {{ 'voted-down' if user_comment_votes[comment.id] and user_comment_votes[comment.id].vote == -1 else '' }}"><i class="fa-solid fa-arrow-down"></i></button>
        </form>
    </div>
{% endfor %}

<!-- Add form for new comment here if the user is logged in -->
{% if current_user.is_authenticated %}
    <form method="post" action="{{ url_for('add_comment', canvas_id=canvas.id) }}">
        <textarea name="comment" required></textarea>
        <input type="submit" value="Add Comment">
    </form>
{% else %}
    <p><a href="{{ url_for('login') }}">Log in</a> to add a comment.</p>
{% endif %}
{% endblock %}
